.container {
  display: flex;
  justify-content: center;
  background-color: #eef2f5;
  align-items: center;
  padding: 16px;
  gap: 14px;
  padding-bottom: 0;
}

.pt2 {
  padding-top: 8px;
}

.textCenter {
  width: calc(100vw-12px);
  text-align: center;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}

.textDark {
  color: dark;
}
